@import "mobily_menu.css";

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #FFF;
}
header {
  padding: 40px 0;
  margin-bottom: 80px;
  .logo{
    position: relative;
    z-index: 100;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 20px;
  }
  .nav {
    .nav__content{
      .nav__list{
        list-style: none;
      }
      @include max-screen(1024px){
      position: fixed;
      z-index: 98;
    }
    ul {
      display: flex;
      align-items: center;
      @include max-screen(1024px){
        display: block;
      }
      li {
        margin-left: 40px;
        @include max-screen(1024px){
          margin-left: 0;
        }
        a {
          text-decoration: none;
          color: black;
          font-family: arial;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
        &:hover{
          transform: rotate(360deg);
          transition: 0.3s;
        }
      }

    }
    &:before{
      @include max-screen(1024px){
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(20, 21, 26,0.6);
        border-bottom-left-radius: 200%;
        z-index: -1;
        -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        -webkit-transform: translateX(100%) translateY(-100%);
        transform: translateX(100%) translateY(-100%);
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }
    }
    &:after{
      @include max-screen(1024px){
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(20, 21, 26,0.6);
        border-bottom-left-radius: 200%;
        z-index: -1;
        -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
        -webkit-transform: translateX(100%) translateY(-100%);
        transform: translateX(100%) translateY(-100%);
        background: #F4EFE9;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
  }
}
.nav-but-wrap{
  @include max-screen(1024px){
    display: inline-block;
  }
}
.nav__content{
  @include max-screen(1024px){
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 0;
    margin-top: 20px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
  }
}
.nav__list{
  @include max-screen(1024px){
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
}
.nav__list-item{
  @include max-screen(1024px){
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    padding-bottom: 10px;
    color: #1E1928;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    color: black;
    overflow: hidden;
    letter-spacing: 3px;
    -webkit-transform: translate(100px, 0%);
    transform: translate(100px, 0%);
    -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-top: 0;
    margin-bottom: 0;
  }
  a{
    @include max-screen(1024px){position: relative;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 700;
      z-index: 2;
      display: inline-block;
      text-transform: uppercase;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    color: black}
  }
}

.container{
  max-width: 1294px;
  margin: auto;
}
.nav-but-wrap{
  @include max-screen(1024px) {
    display: inline-block;
  }
}